/* * {
  text-decoration: none !important;
} */

.nx-w-full .nx-text-primary-600{
  text-decoration: none; 
  color: #76B900;
}

.nx-w-full .nx-text-primary-600:hover{
  text-decoration: none;
  color: #5a8e01;
  /* text-decoration-thickness: 0.1px; */
  /* text-decoration-color: grey; */
  /* text-underline-offset: 1.5px; */
}

.nx-mt-6 {
  line-height: 28px;
}

/* .nx-my-2 {
  line-height: 28px;
} */

body {
  margin: 0;
  background-color: black;
  transition: all 0.6s;
  height: 100%;
}

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #008ae6;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}
