.logoName {
  font-weight: 600;
}

.twitter_icon {
  height: 24px;
  width: 24px;
  margin-left: 0.5em;
}

.nx-absolute {
  font-weight: 400 !important;
}

.nx-w-full .nx-text-primary-600 {
  text-decoration: none;
  color: #76b900;
}

ul .nx-mt-6 {
  padding-bottom: 10px;
}

/* banner */
.nextra-banner-container {
  background: #76b900 !important;
  color: #000 !important;
}
/* ------------------- */

/* icons */
.nx-w-8 svg:hover {
  color: #000;
}

.nx-mx-auto svg:hover {
  color: #76b900;
}

.nx-w-full .nx-flex svg {
  height: 24px;
  width: 24px;
}

.nextra-breadcrumb svg {
  height: 14px !important;
  width: 14px !important;
}
/* ------------------- */

/* links  */
.link {
  text-decoration: underline;
  text-decoration-color: #76b900;
  text-underline-offset: 5px;
  text-decoration-thickness: 1.2px;
}

.nx-w-full .nx-text-primary-600:hover {
  text-decoration: none;
  color: #5a8e01;
  /* text-decoration-thickness: 0.1px; */
  /* text-decoration-color: grey; */
  /* text-underline-offset: 1.5px; */
}

.link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.2px;
  text-decoration-color: grey;
  text-underline-offset: 5px;
}
/* ------------------- */

/* next & previous page link*/
.nx-flex .nx-items-center .nx-gap-1 svg{
  height: 20px;
  width: 20px;
}

.nx-flex .nx-items-center .nx-gap-1:hover {
  color: #76b900;
}
/* ------------------- */

/* .nextra-callout{
  background: #F2FCE4 !important;
}

.nextra-callout .nx-mt-6{
  color: rgb(230,245,230);
} */

.nx-mt-6 {
  line-height: 28px;
}

/* .nx-my-2 {
  line-height: 28px;
} */

#main {
  display: table;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.fof {
  display: table-cell;
  vertical-align: middle;
  font-family: "Lato", sans-serif;
}

.fof h1 {
  font-size: 50px;
  display: inline-block;
  padding-right: 12px;
  animation: type 0.5s alternate infinite;
}

@keyframes type {
  from {
    box-shadow: inset -3px 0px 0px #008ae6;
  }
  to {
    box-shadow: inset -3px 0px 0px transparent;
  }
}


/* Home */
.main_page{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 1000px;
  position: relative;
}

.main_page h1{
  font-size: 3rem;
  margin-top: 5rem;
}

.home_image{
  position: absolute;
  bottom: 5rem;
  top: 30px;
  left: -6rem;
  transform: rotate(-10deg);
}

.home_image2{
  position: absolute;
  top: -4rem;
  right: -3rem;
  transform: rotate(180deg);
}

.text{
  text-align: center;
  margin-top: 5%;
}

.text h1{
  font-size: 63px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -1.92px;
}

.text h3{
  font-size: 20px;
  line-height: 33px;
  margin-top: 35px;
}

@media screen and (max-width: 1000px) {
  .home_image, .home_image2{
    width: 180px;
    height: auto;
  }
}

.btn{
  display: flex;
  padding-top: 28px;
}

.btn a{
  text-decoration:none;
  text-align: center;
  display:block; 
}

.link1, .link2{
  margin-top: 10px;
  display:flex;
}

.btn{
  margin-top: 35px !important;
  font-size: 18px;
  font-weight: 600;
  gap: 45px;
  justify-content: center;
}

.btn1{
  height: 50px;
  width: 160px;
  background-color: #76b900;
  color: #000;
}

.btn1:hover{
  background-color: #5a8e01;
  color: #000;
}

.btn2{
  color: white;
  background-color: #111111;
  height: 50px;
  width: 160px;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}


.link1, .link2{
  justify-content: center;
  gap: 6px;
}

.link1 .icon, .link2 .icon{
  margin-top: 4px;
}

.btn a{
  display: flex;
  height: 50px;
  width: 160px;
}



/* **************************** */